In [1]:
import pandas as pd
a = pd.read_csv('Sales.csv')
print(a)

     Apple  Samsung   Nokia    Vivo      Oppo       Mi    Sony
0   2358.0   8732.0  3123.0   8068.0   7263.0  19466.0  2408.0
1      NaN      NaN     NaN      NaN      NaN      NaN     NaN
2   2295.0   5913.0  4401.0   8891.0   8140.0  11837.0  1666.0
3      NaN   6547.0  4993.0   9842.0   9709.0  20478.0  1119.0
4   2452.0  10710.0  4970.0  16961.0  10633.0  21048.0  1255.0
5   2459.0   8670.0  3531.0  14032.0  11483.0  19791.0  1188.0
6   2935.0   5024.0  3004.0  17975.0  10631.0  20971.0     NaN
7   3861.0      NaN  4813.0  10223.0   7723.0  17926.0  2223.0
8   3350.0   5083.0  4523.0  16774.0   6174.0  13869.0  2135.0
9   4965.0      0.0     0.0  17894.0      0.0      0.0     0.0
10  3529.0   9251.0  3396.0  17384.0  10383.0  12589.0  1141.0
11  3478.0   9294.0     NaN   8795.0  11032.0  10020.0  2210.0
12  5994.0   9783.0  4999.0  10570.0   6221.0  20905.0  1524.0
13  3733.0   6566.0  4399.0  16970.0   8263.0  17635.0  2008.0
14  4472.0  11017.0  4692.0  17755.0   8604.0      NaN  2397.0
15  4724.0   7591.0  4548.0   8533.0   8999.0  19476.0  1654.0
16  2160.0  11412.0  3060.0  10093.0  11895.0  15487.0  2289.0
17  3679.0  10708.0  3161.0  16402.0   7784.0  11751.0  1404.0
18  3176.0   5375.0  3324.0  11214.0      NaN  15899.0  1988.0
19  3175.0   7524.0  4788.0  13125.0   9669.0  16844.0  1992.0
20  5730.0   9129.0  3381.0   9174.0   7850.0  12733.0  1188.0
21  4543.0   8809.0  4341.0  13649.0   9091.0  24442.0  2371.0
22  2511.0   6937.0  3593.0  16234.0   8833.0  13809.0  1117.0
23  5186.0   9945.0  4757.0  10319.0   7589.0  12709.0  2134.0
24  2278.0  10017.0  3818.0  10822.0   7918.0  17226.0  1570.0

In [2]:
print(a.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Apple    23 non-null     float64
 1   Samsung  23 non-null     float64
 2   Nokia    23 non-null     float64
 3   Vivo     24 non-null     float64
 4   Oppo     23 non-null     float64
 5   Mi       23 non-null     float64
 6   Sony     23 non-null     float64
dtypes: float64(7)
memory usage: 1.5 KB
None

In [3]:
b = a.dropna(inplace = True)
print(b)

None

In [4]:
import pandas as pd
a = pd.read_csv('Sales.csv')
b = a.dropna()
print(b)

     Apple  Samsung   Nokia    Vivo      Oppo       Mi    Sony
0   2358.0   8732.0  3123.0   8068.0   7263.0  19466.0  2408.0
2   2295.0   5913.0  4401.0   8891.0   8140.0  11837.0  1666.0
4   2452.0  10710.0  4970.0  16961.0  10633.0  21048.0  1255.0
5   2459.0   8670.0  3531.0  14032.0  11483.0  19791.0  1188.0
8   3350.0   5083.0  4523.0  16774.0   6174.0  13869.0  2135.0
9   4965.0      0.0     0.0  17894.0      0.0      0.0     0.0
10  3529.0   9251.0  3396.0  17384.0  10383.0  12589.0  1141.0
12  5994.0   9783.0  4999.0  10570.0   6221.0  20905.0  1524.0
13  3733.0   6566.0  4399.0  16970.0   8263.0  17635.0  2008.0
15  4724.0   7591.0  4548.0   8533.0   8999.0  19476.0  1654.0
16  2160.0  11412.0  3060.0  10093.0  11895.0  15487.0  2289.0
17  3679.0  10708.0  3161.0  16402.0   7784.0  11751.0  1404.0
19  3175.0   7524.0  4788.0  13125.0   9669.0  16844.0  1992.0
20  5730.0   9129.0  3381.0   9174.0   7850.0  12733.0  1188.0
21  4543.0   8809.0  4341.0  13649.0   9091.0  24442.0  2371.0
22  2511.0   6937.0  3593.0  16234.0   8833.0  13809.0  1117.0
23  5186.0   9945.0  4757.0  10319.0   7589.0  12709.0  2134.0
24  2278.0  10017.0  3818.0  10822.0   7918.0  17226.0  1570.0

In [5]:
import pandas as pd
a = pd.read_csv('Sales.csv')
b = a["Nokia"].fillna(11)
c = a["Apple"].fillna(11)
print(b,c)

0     3123.0
1       11.0
2     4401.0
3     4993.0
4     4970.0
5     3531.0
6     3004.0
7     4813.0
8     4523.0
9        0.0
10    3396.0
11      11.0
12    4999.0
13    4399.0
14    4692.0
15    4548.0
16    3060.0
17    3161.0
18    3324.0
19    4788.0
20    3381.0
21    4341.0
22    3593.0
23    4757.0
24    3818.0
Name: Nokia, dtype: float64 0     2358.0
1       11.0
2     2295.0
3       11.0
4     2452.0
5     2459.0
6     2935.0
7     3861.0
8     3350.0
9     4965.0
10    3529.0
11    3478.0
12    5994.0
13    3733.0
14    4472.0
15    4724.0
16    2160.0
17    3679.0
18    3176.0
19    3175.0
20    5730.0
21    4543.0
22    2511.0
23    5186.0
24    2278.0
Name: Apple, dtype: float64

In [6]:
import pandas as pd
a = pd.read_csv('Sales.csv')
b = a["Apple"].mean()
c = a["Apple"].fillna(b)
print(c)

0     2358.000000
1     3610.565217
2     2295.000000
3     3610.565217
4     2452.000000
5     2459.000000
6     2935.000000
7     3861.000000
8     3350.000000
9     4965.000000
10    3529.000000
11    3478.000000
12    5994.000000
13    3733.000000
14    4472.000000
15    4724.000000
16    2160.000000
17    3679.000000
18    3176.000000
19    3175.000000
20    5730.000000
21    4543.000000
22    2511.000000
23    5186.000000
24    2278.000000
Name: Apple, dtype: float64

In [7]:
import pandas as pd
a = pd.read_csv('Sales.csv')
b = a.mean()
print(b)
c = a.fillna(b)
print(c)

Apple       3610.565217
Samsung     8001.608696
Nokia       3896.304348
Vivo       12987.458333
Oppo        8516.826087
Mi         15952.652174
Sony        1694.826087
dtype: float64
          Apple       Samsung        Nokia         Vivo           Oppo  \
0   2358.000000   8732.000000  3123.000000   8068.000000   7263.000000
1   3610.565217   8001.608696  3896.304348  12987.458333   8516.826087
2   2295.000000   5913.000000  4401.000000   8891.000000   8140.000000
3   3610.565217   6547.000000  4993.000000   9842.000000   9709.000000
4   2452.000000  10710.000000  4970.000000  16961.000000  10633.000000
5   2459.000000   8670.000000  3531.000000  14032.000000  11483.000000
6   2935.000000   5024.000000  3004.000000  17975.000000  10631.000000
7   3861.000000   8001.608696  4813.000000  10223.000000   7723.000000
8   3350.000000   5083.000000  4523.000000  16774.000000   6174.000000
9   4965.000000      0.000000     0.000000  17894.000000      0.000000
10  3529.000000   9251.000000  3396.000000  17384.000000  10383.000000
11  3478.000000   9294.000000  3896.304348   8795.000000  11032.000000
12  5994.000000   9783.000000  4999.000000  10570.000000   6221.000000
13  3733.000000   6566.000000  4399.000000  16970.000000   8263.000000
14  4472.000000  11017.000000  4692.000000  17755.000000   8604.000000
15  4724.000000   7591.000000  4548.000000   8533.000000   8999.000000
16  2160.000000  11412.000000  3060.000000  10093.000000  11895.000000
17  3679.000000  10708.000000  3161.000000  16402.000000   7784.000000
18  3176.000000   5375.000000  3324.000000  11214.000000   8516.826087
19  3175.000000   7524.000000  4788.000000  13125.000000   9669.000000
20  5730.000000   9129.000000  3381.000000   9174.000000   7850.000000
21  4543.000000   8809.000000  4341.000000  13649.000000   9091.000000
22  2511.000000   6937.000000  3593.000000  16234.000000   8833.000000
23  5186.000000   9945.000000  4757.000000  10319.000000   7589.000000
24  2278.000000  10017.000000  3818.000000  10822.000000   7918.000000

              Mi         Sony
0   19466.000000  2408.000000
1   15952.652174  1694.826087
2   11837.000000  1666.000000
3   20478.000000  1119.000000
4   21048.000000  1255.000000
5   19791.000000  1188.000000
6   20971.000000  1694.826087
7   17926.000000  2223.000000
8   13869.000000  2135.000000
9       0.000000     0.000000
10  12589.000000  1141.000000
11  10020.000000  2210.000000
12  20905.000000  1524.000000
13  17635.000000  2008.000000
14  15952.652174  2397.000000
15  19476.000000  1654.000000
16  15487.000000  2289.000000
17  11751.000000  1404.000000
18  15899.000000  1988.000000
19  16844.000000  1992.000000
20  12733.000000  1188.000000
21  24442.000000  2371.000000
22  13809.000000  1117.000000
23  12709.000000  2134.000000
24  17226.000000  1570.000000

In [8]:
import pandas as pd
a = pd.read_csv('Sales.csv')
b = a.median()
d= print(b)
c = print(a.fillna(b))

Apple       3478.0
Samsung     8732.0
Nokia       4341.0
Vivo       12169.5
Oppo        8604.0
Mi         16844.0
Sony        1666.0
dtype: float64
     Apple  Samsung   Nokia    Vivo      Oppo       Mi    Sony
0   2358.0   8732.0  3123.0   8068.0   7263.0  19466.0  2408.0
1   3478.0   8732.0  4341.0  12169.5   8604.0  16844.0  1666.0
2   2295.0   5913.0  4401.0   8891.0   8140.0  11837.0  1666.0
3   3478.0   6547.0  4993.0   9842.0   9709.0  20478.0  1119.0
4   2452.0  10710.0  4970.0  16961.0  10633.0  21048.0  1255.0
5   2459.0   8670.0  3531.0  14032.0  11483.0  19791.0  1188.0
6   2935.0   5024.0  3004.0  17975.0  10631.0  20971.0  1666.0
7   3861.0   8732.0  4813.0  10223.0   7723.0  17926.0  2223.0
8   3350.0   5083.0  4523.0  16774.0   6174.0  13869.0  2135.0
9   4965.0      0.0     0.0  17894.0      0.0      0.0     0.0
10  3529.0   9251.0  3396.0  17384.0  10383.0  12589.0  1141.0
11  3478.0   9294.0  4341.0   8795.0  11032.0  10020.0  2210.0
12  5994.0   9783.0  4999.0  10570.0   6221.0  20905.0  1524.0
13  3733.0   6566.0  4399.0  16970.0   8263.0  17635.0  2008.0
14  4472.0  11017.0  4692.0  17755.0   8604.0  16844.0  2397.0
15  4724.0   7591.0  4548.0   8533.0   8999.0  19476.0  1654.0
16  2160.0  11412.0  3060.0  10093.0  11895.0  15487.0  2289.0
17  3679.0  10708.0  3161.0  16402.0   7784.0  11751.0  1404.0
18  3176.0   5375.0  3324.0  11214.0   8604.0  15899.0  1988.0
19  3175.0   7524.0  4788.0  13125.0   9669.0  16844.0  1992.0
20  5730.0   9129.0  3381.0   9174.0   7850.0  12733.0  1188.0
21  4543.0   8809.0  4341.0  13649.0   9091.0  24442.0  2371.0
22  2511.0   6937.0  3593.0  16234.0   8833.0  13809.0  1117.0
23  5186.0   9945.0  4757.0  10319.0   7589.0  12709.0  2134.0
24  2278.0  10017.0  3818.0  10822.0   7918.0  17226.0  1570.0

In [9]:
print(96+87-25*87/32)

115.03125

In [10]:
print('my name is nashit')

my name is nashit

In [11]:
len('my name is nashit')

17

In [12]:
ascii(47)

'47'

In [13]:
import pandas as pd
a = pd.read_csv('Sales.csv')
b = a.mode()
print(b)
c = a.fillna(b)
print(c)

     Apple  Samsung   Nokia    Vivo      Oppo       Mi    Sony
0   2160.0      0.0     0.0   8068.0      0.0      0.0  1188.0
1   2278.0   5024.0  3004.0   8533.0   6174.0  10020.0     NaN
2   2295.0   5083.0  3060.0   8795.0   6221.0  11751.0     NaN
3   2358.0   5375.0  3123.0   8891.0   7263.0  11837.0     NaN
4   2452.0   5913.0  3161.0   9174.0   7589.0  12589.0     NaN
5   2459.0   6547.0  3324.0   9842.0   7723.0  12709.0     NaN
6   2511.0   6566.0  3381.0  10093.0   7784.0  12733.0     NaN
7   2935.0   6937.0  3396.0  10223.0   7850.0  13809.0     NaN
8   3175.0   7524.0  3531.0  10319.0   7918.0  13869.0     NaN
9   3176.0   7591.0  3593.0  10570.0   8140.0  15487.0     NaN
10  3350.0   8670.0  3818.0  10822.0   8263.0  15899.0     NaN
11  3478.0   8732.0  4341.0  11214.0   8604.0  16844.0     NaN
12  3529.0   8809.0  4399.0  13125.0   8833.0  17226.0     NaN
13  3679.0   9129.0  4401.0  13649.0   8999.0  17635.0     NaN
14  3733.0   9251.0  4523.0  14032.0   9091.0  17926.0     NaN
15  3861.0   9294.0  4548.0  16234.0   9669.0  19466.0     NaN
16  4472.0   9783.0  4692.0  16402.0   9709.0  19476.0     NaN
17  4543.0   9945.0  4757.0  16774.0  10383.0  19791.0     NaN
18  4724.0  10017.0  4788.0  16961.0  10631.0  20478.0     NaN
19  4965.0  10708.0  4813.0  16970.0  10633.0  20905.0     NaN
20  5186.0  10710.0  4970.0  17384.0  11032.0  20971.0     NaN
21  5730.0  11017.0  4993.0  17755.0  11483.0  21048.0     NaN
22  5994.0  11412.0  4999.0  17894.0  11895.0  24442.0     NaN
23     NaN      NaN     NaN  17975.0      NaN      NaN     NaN
     Apple  Samsung   Nokia    Vivo      Oppo       Mi    Sony
0   2358.0   8732.0  3123.0   8068.0   7263.0  19466.0  2408.0
1   2278.0   5024.0  3004.0   8533.0   6174.0  10020.0     NaN
2   2295.0   5913.0  4401.0   8891.0   8140.0  11837.0  1666.0
3   2358.0   6547.0  4993.0   9842.0   9709.0  20478.0  1119.0
4   2452.0  10710.0  4970.0  16961.0  10633.0  21048.0  1255.0
5   2459.0   8670.0  3531.0  14032.0  11483.0  19791.0  1188.0
6   2935.0   5024.0  3004.0  17975.0  10631.0  20971.0     NaN
7   3861.0   6937.0  4813.0  10223.0   7723.0  17926.0  2223.0
8   3350.0   5083.0  4523.0  16774.0   6174.0  13869.0  2135.0
9   4965.0      0.0     0.0  17894.0      0.0      0.0     0.0
10  3529.0   9251.0  3396.0  17384.0  10383.0  12589.0  1141.0
11  3478.0   9294.0  4341.0   8795.0  11032.0  10020.0  2210.0
12  5994.0   9783.0  4999.0  10570.0   6221.0  20905.0  1524.0
13  3733.0   6566.0  4399.0  16970.0   8263.0  17635.0  2008.0
14  4472.0  11017.0  4692.0  17755.0   8604.0  17926.0  2397.0
15  4724.0   7591.0  4548.0   8533.0   8999.0  19476.0  1654.0
16  2160.0  11412.0  3060.0  10093.0  11895.0  15487.0  2289.0
17  3679.0  10708.0  3161.0  16402.0   7784.0  11751.0  1404.0
18  3176.0   5375.0  3324.0  11214.0  10631.0  15899.0  1988.0
19  3175.0   7524.0  4788.0  13125.0   9669.0  16844.0  1992.0
20  5730.0   9129.0  3381.0   9174.0   7850.0  12733.0  1188.0
21  4543.0   8809.0  4341.0  13649.0   9091.0  24442.0  2371.0
22  2511.0   6937.0  3593.0  16234.0   8833.0  13809.0  1117.0
23  5186.0   9945.0  4757.0  10319.0   7589.0  12709.0  2134.0
24  2278.0  10017.0  3818.0  10822.0   7918.0  17226.0  1570.0

In [14]:
import pandas as pd
a = pd.read_csv('Sales.csv')
b = a.mode()
print(b)
c = a.fillna(b)
print(c)

     Apple  Samsung   Nokia    Vivo      Oppo       Mi    Sony
0   2160.0      0.0     0.0   8068.0      0.0      0.0  1188.0
1   2278.0   5024.0  3004.0   8533.0   6174.0  10020.0     NaN
2   2295.0   5083.0  3060.0   8795.0   6221.0  11751.0     NaN
3   2358.0   5375.0  3123.0   8891.0   7263.0  11837.0     NaN
4   2452.0   5913.0  3161.0   9174.0   7589.0  12589.0     NaN
5   2459.0   6547.0  3324.0   9842.0   7723.0  12709.0     NaN
6   2511.0   6566.0  3381.0  10093.0   7784.0  12733.0     NaN
7   2935.0   6937.0  3396.0  10223.0   7850.0  13809.0     NaN
8   3175.0   7524.0  3531.0  10319.0   7918.0  13869.0     NaN
9   3176.0   7591.0  3593.0  10570.0   8140.0  15487.0     NaN
10  3350.0   8670.0  3818.0  10822.0   8263.0  15899.0     NaN
11  3478.0   8732.0  4341.0  11214.0   8604.0  16844.0     NaN
12  3529.0   8809.0  4399.0  13125.0   8833.0  17226.0     NaN
13  3679.0   9129.0  4401.0  13649.0   8999.0  17635.0     NaN
14  3733.0   9251.0  4523.0  14032.0   9091.0  17926.0     NaN
15  3861.0   9294.0  4548.0  16234.0   9669.0  19466.0     NaN
16  4472.0   9783.0  4692.0  16402.0   9709.0  19476.0     NaN
17  4543.0   9945.0  4757.0  16774.0  10383.0  19791.0     NaN
18  4724.0  10017.0  4788.0  16961.0  10631.0  20478.0     NaN
19  4965.0  10708.0  4813.0  16970.0  10633.0  20905.0     NaN
20  5186.0  10710.0  4970.0  17384.0  11032.0  20971.0     NaN
21  5730.0  11017.0  4993.0  17755.0  11483.0  21048.0     NaN
22  5994.0  11412.0  4999.0  17894.0  11895.0  24442.0     NaN
23     NaN      NaN     NaN  17975.0      NaN      NaN     NaN
     Apple  Samsung   Nokia    Vivo      Oppo       Mi    Sony
0   2358.0   8732.0  3123.0   8068.0   7263.0  19466.0  2408.0
1   2278.0   5024.0  3004.0   8533.0   6174.0  10020.0     NaN
2   2295.0   5913.0  4401.0   8891.0   8140.0  11837.0  1666.0
3   2358.0   6547.0  4993.0   9842.0   9709.0  20478.0  1119.0
4   2452.0  10710.0  4970.0  16961.0  10633.0  21048.0  1255.0
5   2459.0   8670.0  3531.0  14032.0  11483.0  19791.0  1188.0
6   2935.0   5024.0  3004.0  17975.0  10631.0  20971.0     NaN
7   3861.0   6937.0  4813.0  10223.0   7723.0  17926.0  2223.0
8   3350.0   5083.0  4523.0  16774.0   6174.0  13869.0  2135.0
9   4965.0      0.0     0.0  17894.0      0.0      0.0     0.0
10  3529.0   9251.0  3396.0  17384.0  10383.0  12589.0  1141.0
11  3478.0   9294.0  4341.0   8795.0  11032.0  10020.0  2210.0
12  5994.0   9783.0  4999.0  10570.0   6221.0  20905.0  1524.0
13  3733.0   6566.0  4399.0  16970.0   8263.0  17635.0  2008.0
14  4472.0  11017.0  4692.0  17755.0   8604.0  17926.0  2397.0
15  4724.0   7591.0  4548.0   8533.0   8999.0  19476.0  1654.0
16  2160.0  11412.0  3060.0  10093.0  11895.0  15487.0  2289.0
17  3679.0  10708.0  3161.0  16402.0   7784.0  11751.0  1404.0
18  3176.0   5375.0  3324.0  11214.0  10631.0  15899.0  1988.0
19  3175.0   7524.0  4788.0  13125.0   9669.0  16844.0  1992.0
20  5730.0   9129.0  3381.0   9174.0   7850.0  12733.0  1188.0
21  4543.0   8809.0  4341.0  13649.0   9091.0  24442.0  2371.0
22  2511.0   6937.0  3593.0  16234.0   8833.0  13809.0  1117.0
23  5186.0   9945.0  4757.0  10319.0   7589.0  12709.0  2134.0
24  2278.0  10017.0  3818.0  10822.0   7918.0  17226.0  1570.0

In [16]:
import pandas as pd
a = pd.read_csv('Sales.csv')
b = a.mode()
c = a.fillna(b)
print(c)

     Apple  Samsung   Nokia    Vivo      Oppo       Mi    Sony
0   2358.0   8732.0  3123.0   8068.0   7263.0  19466.0  2408.0
1   2295.0   5024.0  3004.0   8533.0   6174.0  10020.0  1119.0
2   2295.0   5913.0  4401.0   8891.0   8140.0  11837.0  1666.0
3   2452.0   6547.0  4993.0   9842.0   9709.0  20478.0  1119.0
4   2452.0  10710.0  4970.0  16961.0  10633.0  21048.0  1255.0
5   2459.0   8670.0  3531.0  14032.0  11483.0  19791.0  1188.0
6   2935.0   5024.0  3004.0  17975.0  10631.0  20971.0  1524.0
7   3861.0   7524.0  4813.0  10223.0   7723.0  17926.0  2223.0
8   3350.0   5083.0  4523.0  16774.0   6174.0  13869.0  2135.0
9   4965.0      0.0     0.0  17894.0      0.0      0.0     0.0
10  3529.0   9251.0  3396.0  17384.0  10383.0  12589.0  1141.0
11  3478.0   9294.0  4548.0   8795.0  11032.0  10020.0  2210.0
12  5994.0   9783.0  4999.0  10570.0   6221.0  20905.0  1524.0
13  3733.0   6566.0  4399.0  16970.0   8263.0  17635.0  2008.0
14  4472.0  11017.0  4692.0  17755.0   8604.0  20478.0  2397.0
15  4724.0   7591.0  4548.0   8533.0   8999.0  19476.0  1654.0
16  2160.0  11412.0  3060.0  10093.0  11895.0  15487.0  2289.0
17  3679.0  10708.0  3161.0  16402.0   7784.0  11751.0  1404.0
18  3176.0   5375.0  3324.0  11214.0      NaN  15899.0  1988.0
19  3175.0   7524.0  4788.0  13125.0   9669.0  16844.0  1992.0

In [17]:
import pandas as pd
a = pd.read_csv('Data.csv')
print(a)

         Dates Class hours  Presentees
0   01-07-2021    02:15:00          19
1   02-07-2021    01:50:00          22
2   03-07-2021    01:25:00          21
3   04-07-2021    01:00:00          17
4   05-07-2021    00:35:00          18
5   06-07-2021    00:10:00          17
6   07-07-2021    01:45:00          17
7   08-07-2021    02:15:00          16
8          NaN    01:50:00          15
9   10-07-2021    01:25:00          15
10  11-07-2021    01:00:00          14
11  12-07-2021    00:35:00          13
12  13-07-2021    00:10:00          12
13  14-07-2021    01:45:00          12
14       44392    02:15:00          11
15  16-07-2021    01:50:00          10
16  17-07-2021    01:25:00          10
17  18-07-2021    01:00:00           9
18  19-07-2021    00:35:00           8
19  20-07-2021    00:10:00           8
20  21-07-2021    01:45:00           7
21  22-07-2021    02:15:00           6
22  23-07-2021    01:50:00           5
23  24-07-2021    01:25:00           5

In [21]:
import pandas as pd
a = pd.read_csv('Data.csv')
a['Dates'] = pd.to_date(a['Dates'])
print(a)

AttributeError: module 'pandas' has no attribute 'to_date'